:root {
    --darkest: #275ba8;
    --dark: #3a80e7;
    --regular: #488ef0;
    --light: #6b9edf;
    --lightest: #b8daf5;

    --darkest-alt: #b3540d;
    --dark-alt: #db7000;
    --regular-alt: #e89633;
    --light-alt: #d6a458;
    --lightest-alt: #f2e2c2;

    --normal-text: #ffffff;

    --success: #5EB234;
    --error: #C91D2B;
    --warning: #E8B130;
}